<h2>Complete registration</h2>
  
<% if @user.first_name.nil? || @user.first_name.empty? || @user.last_name.nil? || @user.last_name.empty? %>
  <div>Please complete your profile by filling out with your name and last name.</div>
<% else %>
  <div>Please confirm your name and last name.</div>
<% end %>

<%= form_for(@user, url: 'complete', html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "family-name" %>
  </div>

  <div>If you would like to update your photo, please upload it now.</div>e

  <div class="field" data-controller='avatar'>
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar, data: { action: 'change->avatar#preview', 'avatar-target': 'input' } %>
    <%= image_tag @user.avatar.variant(:thumb), data: { 'avatar-target': 'image' } %>
  </div>

  <% if @user.first_name.nil? || @user.first_name.empty? || @user.last_name.nil? || @user.last_name.empty? %>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% else %>
    <div class="actions">
      <%= f.submit "Confirm" %>
    </div>
  <% end %>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", user_registration_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>