<% if @user == current_user %>
  <h1>Profile</h1>
<% else %>
  <h1>User</h1>
<% end %>

<%= render @user %>

<%# Show correct texts depending on the role of the current user on the friendship request %>
<% unless @user == current_user || current_user.friends.exists?(@user.id) %>
  <%= form_with url: '/friends', method: 'post' do |form| %>
    <%= form.hidden_field :friend_id, value: @user.id %>
    <%= form.submit 'Add friend' %>
  <% end %>
<% end %> 

<%#  %>
<% if @friendship1 && @friendship1.status == 1 %>
  <% if @role == 'requester' %>
    <%= button_tag 'Pending approval', disabled: true %>
    <%= link_to 'Cancel request', @friendship1, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to 'Accept request', @friendship1, data: { turbo_method: :patch } %>
    <%= link_to 'Reject request', @friendship1, data: { turbo_method: :delete } %>
  <% end %>
<% end %>

<% if @friendship1 && @friendship1.status == 2 %>
  <%= link_to 'Delete friendship', @friendship1, data: { turbo_method: :delete } %>
  <h2>Posts</h2>
  <%= render @posts %>
<% end %>