<div id=<%= "post_#{post.id}" %> class="post">
  <div><%= post.author.email %></div>
  <div><%= simple_format h post.content %></div>
  <div id=<%= "Post_#{post.id}_likes_counter"%>>Likes: <%= post.likes.size %> </div>
  <div id=<%= "post_#{post.id}_comment_counter" %> >Comments: <%= post.comments.size %></div>
  <div id=<%= "Post_#{post.id}_likes" %>>
    <% if Like.where(user_id: current_user.id, likeable_type: 'Post', likeable_id: post.id).exists? %>
      <%= link_to 'Unlike', like_path(post.likes.find_by(user_id: current_user.id).id), data: { turbo_method: :delete } %>
    <% else %>
      <%= form_with model: Like.new(), url:likes_path do |f| %>
        <%= f.hidden_field :likeable_type, value: 'Post' %>
        <%= f.hidden_field :likeable_id, value: post.id %>
        <%= f.submit 'Like' %>
      <% end %>
    <% end %>
  </div>
  <% if post.author == current_user %>
    <%= link_to 'Delete post', post_path(post.id), data: { turbo_method: 'delete' } %>
  <% end %>
  
  <%= turbo_frame_tag id='comments', src: post_comments_path(post) %>

  <div id=<%= "turbo_frame_tag_post_#{post.id}" %>>
    <%= turbo_frame_tag id='new_comment', src: new_post_comment_path(post) %>
  </div>
</div>